<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>DaWebCine</title>
</head>

<body id="page-container">
    <header>
        <a href="/"><h1>DaWebCine</h1></a>
        <!-- <img src="logo-cine.png" alt="*Logo Cine*" height="100" width="100"/> -->
        <div id="buttons">
            <a id="linkCerrarSesion" href="/" onclick="cerrarSesion()">Cerrar sesión</a>
        </div>
    </header>
    <nav class="link">
        <ul>
            <li><a href="/#cines">Cines</a></li>
            <li><a href="/#peliculas">Peliculas</a></li>
            <li><a href="./tarjeta">Tarjeta de fidelidad</a></li>
        </ul>
    </nav>
    <div id="paginaPrincipal">
        <div id="content-wrap">
            <div id="contenido_cines">
                <h2 id="cines">TARJETA FIDELIDAD</h2>
                <div class="row no_margin">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg"
                                                class="card-img" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"> <b>PERFIL</b></h5>
                                                <p class="card-text"><b>Nombre:</b> {{nombre}}</p>
                                                <p class="card-text"><b>Apellidos:</b> {{apellidos}}</p>
                                                <p class="card-text"><b>Correo:</b> {{correo}}</p>
                                                <p class="card-text"><b>Id:</b> {{id}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <div class="card border-primary mb-3">
                                            <div class="card-header" style="text-align: center;">PUNTOS</div>
                                            <div class="card-body text-primary" style="text-align: center;">
                                                <p class="card-text" style="font-size: xx-large; font-family: fantasy;">{{puntos}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header">
                                        <b>¿Cómo obtener puntos de fidelidad?</b>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Comprar palomitas - <b>5 puntos</b></p>
                                        <p class="card-text">Comprar un refresco - <b>5 puntos</b></p>
                                        <p class="card-text">Comprar una entrada - <b>10 puntos</b></p>
                                        <p class="card-text">Comprar una entrada VIP - <b>20 puntos</b></p>
                                    </div>
                                </div>
                                <br>
                                <div class="card">
                                    <div class="card-header">
                                        <b>¿En qué puedes canjear tus puntos?</b>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><b>15 puntos</b> - Un refresco</p>
                                        <p class="card-text"><b>15 puntos</b> - Unas palomitas</b></p>
                                        <p class="card-text"><b>100 puntos</b> - Una entrada gratis</b></p>
                                        <p class="card-text"><b>200 puntos</b> - Una camiseta</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="link">
        <div>
            <a href="#">Copyright</a>
            <a href="#">Mapa del sitio</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

        <script text="text/javascript" src="js/viewController.js"></script>
</body>

</html>